@font-face {
    font-family: product sans;
    src: url('product_sans_regular-webfont.woff2') format('woff2'),
         url('product_sans_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: product sans bold italic;
    src: url('product_sans_bold_italic-webfont.woff2') format('woff2'),
         url('product_sans_bold_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: product sans bold;
    src: url('product_sans_bold-webfont.woff2') format('woff2'),
         url('product_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: product sans italic;
    src: url('product_sans_italic-webfont.woff2') format('woff2'),
         url('product_sans_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



