@charset "ISO-8859-1";
html {
	height: 100vh;
	width: 100vw;
	max-height: 100%;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	background: #f2f2f2;
	margin: 0;	
}
 
body {
	height: 50%;
	flex-grow: 1;
	font-family: product sans, sans-serif;
	padding: 0.5%;
	margin: 0;
}

.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown:hover .dropdown-menu {

    /** Show dropdown menu */
    display: block;
}

.dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    margin: 0;
    list-style: none; /** Remove list bullets */
    width: 136px; /** Set the width to 100% of it's parent */
    padding: 0;
}

/** Button Styles **/
.dropdown button {
    -o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	width: 136px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: small;
	font-family: 'product sans', sans-serif;
	color: #ffff;
	background-color: #3B769C;
	cursor: pointer;
	margin: 5px;
	height: 40px;
	text-align:center;
	border: none;
	background-size: 300% 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 20px;
	margin-top: 60px;
	margin-bottom: -3px;
}

/** List Item Styles **/
.dropdown a {
    display: block;
    padding: 0.2em 0.8em;
    text-decoration: none;
    background: white;
    color: #333333;
}

/** List Item Hover Styles **/
.dropdown a:hover {
    background: #4390C1;
    color: white;
    border-radius: 5px;
}

#timer {
	display: block;
	font-size: medium;
}


/* DIV FORMAT AND STYLING */
.body_content {
	height: 100%;
	display: grid;
	grid-template-columns: 75% 24%;
	grid-gap: 1%;
	padding-top:1%;
}

#classroom_mapping {
	background-size: 100% 100%;
	display: grid;
	grid-template-rows: repeat(10, 10%);
	grid-template-columns: repeat(30, 1fr);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
}

#section_input {
	position: absolute;
	z-index: 2;
	display: none;
	width: 180px;
	height: 180px;
	background-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 10%;
}

#left_side {
	display: grid;

	grid-template-rows: 10% 60% 24%; /*reduce gap between Room title and image*/

	grid-gap: 2%;
}

/* Room Title */
#top_left {
	font-size: xx-large;
	font-weight: bold
}
.grid{
	position: relative;
	display: grid; /* IE10 */
	flex-wrap: wrap;
	/* padding: 0 8px; */
	-webkit-box-align: center;
	grid-auto-columns: 1fr;
	grid-auto-row: 30px;
	grid-template-columns: 1fr 1fr;
	grid-row-columns: 1fr;
	/*grid-template-columns: 1fr 1fr; */
	/* align-self: center; */
	grid-column-gap: 20px;
	/* grid-row-gap: 30px; */
	margin-right: 8%;
	float: right;
	height: 30px;
	width: 92%;
}
.classroom_box{
	grid-column-start: 1;
	grid-column-end:2;
}
.alert_bar{
	grid-column-start: 2;
	grid-column-end:3;
	width: 100%;
	height: 34px;
  	background: #22AD1E;
	border-radius: .25em;


	position: relative;
	display: grid; /* IE10 */
	flex-wrap: wrap;
	/* padding: 0 8px; */
	-webkit-box-align: center;
	grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	/* grid-auto-columns: 1fr;
	grid-template-columns: 1fr 1fr; */
	/* align-self: center; */
	grid-column-gap: 0px;
	grid-row-gap: 30px;
	margin: -6% 8% 8% 8%;
	float: right;
	width: 92%;
}
.col2{
	grid-column-start: 2;
	grid-column-end:3;
	background-color: #3CCE3C;
}
.col3{
	grid-column-start:3;
	grid-column-end:4;
}
.small{
	font-size: 12px;
	font-weight: lighter;
	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}
.timer{
	font-size: 11px;
	color: white;
	text-align: center;
}
.grid_boxes {
 	display: block;
 	color: white;
 	text-align: right;
 	background-color: transparent;
 }

.quad_num {
	text-align: left;
	font-weight: bold;
    font-size: xx-large;
    color: #ffffff;
    flex-grow: 1;
}

/* Text area where # of students is displayed */
.increment_stud {
	width: 30%;
	padding-right: 1%;
}

.quadrant_inputs {
	height: 100%;
	width: 100%;
	z-index: 2;
}

.inc_button {
	width: 100%; 
	font-size: large;
	margin: 0;
	padding: 0;
}

.inS_text {
	width: 100%; 
	margin: 0;
	font-size: medium;
	border: none;
}

#student_events_form {	
	height: 100%;
	display: none;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 50% 50%;
}

#interval_readings_form {
	flex-grow: 1;
	display: grid;
	height: 90%;	
}

.checkbox-grid {
	grid-template-columns: 50% 25%;
	padding-top: 5%;	
}

/* Header and sub-header styling */

.subheader {
	font-weight: bold;
	font-size: 16px;
	color: #4390C1;
	margin-top: 30px;
}

#dump_data_frame {
	display: none;
}

* {
  box-sizing: border-box;
}

.btn {
  outline: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  min-width: 120px;
  padding-right: 15px;
  padding-left: 15px;
  font-size: large;
  font-family: 'product sans', sans-serif;
  color: #ffffff;
  background-color: #232323;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
  border-radius: 100px;
	
}

.button-set .btn, .button-set .button-slide-out__above {
  display: block;
}

.button-slide-out {
	position: relative;
}

.button-slide-out__above {
  display: block;
  min-width: 120px;
  border: none;
  padding: 0 1em;
  font-size: 16px;
  color: #000;
  line-height: 65px;
  text-align: center;
  background: none;
  transition: background .3s ease;
}

.button-slide-out__middle {
  position: relative;
  z-index: 10;
}

.button-slide-out__above,
.button-slide-out__below {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  transition: transform .35s ease;
}

.is_active .button-slide-out__above {
  transform: translateY(-70%);
}

.is_active .button-slide-out__below {
  transform: translateY(100%);
}

.button {
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	min-width: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-size: large;
	font-family: 'product sans', sans-serif;
	color: #ffffff;
	background-color: #232323;
    cursor: pointer;
    margin: 5px;
	height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 100px;
}

button:hover {
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-o-transform: scale(1.05);
    transform: scale(1.05);
}

button:focus {
	outline:0;
}

#back_arrow:hover {
	background-color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px} 
    to {bottom: 0}
}

@keyframes slideIn {
    from {bottom: -300px}
    to {bottom: 0}
}

  @-webkit-keyframes pulse {
	0% {
	  -moz-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	}
	70% {
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -webkit-transform: scale(1);
	  transform: scale(1);
	  box-shadow: 0 0 0 5px rgba(0, 158, 50, 0.5);
	}
	100% {
	  -moz-transform: scale(0.9);
	  -ms-transform: scale(0.9);
	  -webkit-transform: scale(0.9);
	  transform: scale(0.9);
	  box-shadow: 0 0 0 0 rgba(0, 158, 50, 0.5);
	}
  }

.pulse-side-button {
    transition:.5s;
	width: auto;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 11px;
	font-family: 'product sans', sans-serif;
	color: #ffffff;
	background-color: #232323;
    cursor: pointer;
    margin: 5px;
	height: 25px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
	border-radius: 100px;
	box-shadow: 0 0 0 0 rgba(0, 158, 50, 0.5);
  }


.circular-side-button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	width: auto;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 11px;
	font-family: 'product sans', sans-serif;
	color: #ffffff;
	background-color: #232323;
	cursor: pointer;
	margin: 5px;
	height: 25px;
	text-align:center;
	border: none;
	background-size: 300% 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 100px;
}

/* play button, reset button, comments section */
.bottom-row {
	float: left;
	max-width: 1000px;
  }

/* play and reset button */
.play-reset-btn {
	float: left;
	max-width: 300px;
}

input[type="text"] {
    padding: 1%;
    height: 55px;
	display: inline-block;
	width: 280px;
	resize: none;
	border-radius: 100px;
	box-shadow:0 1px 2px #aaa;
	border: 0;
	outline: none !important;
	text-indent: 10px;
	margin: 5px;
	margin-left: 10px;
}

#comment{
	width: 60%;
}
 
#submitComment {
    margin-left: -60px;
    border-radius: 100px;
    color: white;
    height: 40px;
	width: 40px;
    font-size: 16px;
	font-family: 'product sans', sans-serif;
	background-color: #232323;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
}

  /* Popup student number table Styling*/
  .pop_up_button {
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
	transition:.5s;
	width: 90%;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 11px;
	font-family: 'product sans', sans-serif;
	color: #ffffff;
	background-color: #232323;
	cursor: pointer;
	margin: 2px;
	height: 25px;
	text-align:center;
	border: none;
	background-size: 300% 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
	border-radius: 100px;
}

.circularButton2 {
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    width: 25px;
    height: 25px;
	font-size: small;
	font-family: 'product sans', sans-serif;
	color: #ffffff;
	background-color: #232323;
    cursor: pointer;
    text-align:center;
    border: none;
    background-size: 300% 100%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.20);
    border-radius: 100%;
    font-size: x-small;
}

element.style {
    background-color: rgba(98, 86, 80, 0.5);
    grid-area: 4 / 15 / span 5 / span 13;
	border: solid rgb(0, 0, 0);
}

th, td {
	text-align: center;
	padding: 0;
}


table{
	width:100%; 
	height:100%; 
	background-color: white;
	border-radius: 10%;
}
